<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="grid">
        <form method="POST" th:action="@{/registro}" th:object="${nuevoEmpleado}">
            <h3>Introduce el nombre del empleado.</h3>
            <label for="dni">Dni: </label>
            <input type="text" th:field="*{dni}" />
            <span class="validationError" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></span>
            <br />
            <label for="nombre">Nombre: </label>
            <input type="text" th:field="*{nombre}" />
            <span class="validationError" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
            <br />
            <label for="email">Email: </label>
            <input type="text" th:field="*{email}" />
            <br />
            <label for="fechaNacimiento">Fecha Nacimiento: </label>
            <input type="text" th:field="*{fechaNacimiento}" />
            <br />
            <h3>Profesion</h3>
            <label for="profesion">Profesion: </label>
            <input type="text" th:field="*{profesion}" />
            <br />
            <h3>Antiguedad</h3>
            <label for="antiguedad">Antiguedad: </label>
            <input type="number" th:field="*{antiguedad}" />
            <br />
            <input type="submit" value="Submit Empleado">
        </form>
    </div>

</body>

</html>